
        body {margin:0;}
    
        .line{
            width: 112px;
            height: 47px;
            border-bottom: 1px solid black;
            position: absolute;
            }
        
                .navbar {
                  overflow: hidden;
                  background-color: #666666;
                  position: fixed;
                  top: 0;
                  width: 100%;
                }
                
                .navbar a {
                  float: right;
                  display: block;
                  color: #11d1f3;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 17px;
                }
                
                .navbar a:hover {
                  background: rgb(119, 116, 116);
                  color:black; 
                }
                
                .main {
                  padding: 16px;
                  margin-top: 30px;
                  height: 1500px; 
                  
                }
        
            #inlinkAboutMe {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #inlinkMyPhotos {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #inlinkMyPlaylist {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #inlinkLike {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #inlinkQRCode {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
                } 
            #inlinkQAndA {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #inlinkContactMe {
            color: rgb(17, 223, 238);
            font-size: 23px;
            text-decoration-line: unset;
            text-align: center;
            }
            #forWriting {
                color: rgb(232, 247, 247);
                font-size: 20px;
                font-style: initial;
                text-decoration-line: unset;
                text-align: center;
                    } 
                    .btn-social {
                        width: 100px;
                        position: relative;
                        opacity: 0.5;
                        transition: 0.3s ease;
                        cursor: pointer;
                    }
                    
                    .btn-social:hover {
                        opacity: 1;
                        transform: scale(1.4, 1.4);
                    }    
